@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(imagenes/fondo3.jpeg);
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0; 
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: black;
  border-bottom: 1px solid #202021; }

.nav__logo{
  width: 70px;
  height: auto;  
}

.link{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px 20px 25px 20px;  
}

.link:hover{
  color: white;
  text-decoration: none;
  background: #202021;  
}

.leer{
  color: #eeba0b;
  font-size: 18px;
  text-decoration: none;   
}

.carousel-item {
  width: 1500px;
  height: 500px; 
}

h1 {
  color: white;
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: linear-gradient(to bottom, black, #6f0606, black); 
}

h2{
  color: #eeba0b;
  text-align: center;
  font-size: 30px; 
  font-weight: bold;
}

p {
  color: white;
  font-size: 20px; 
}

​img {
  max-width: 100%;
}

footer{
  background: black;
  color: white;
  text-align: center;
  padding: 5px 5px 5px 5px;   
}

footer img{
  width: 30px;
  height: 30px;  
}

.subtitulo {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-top: 0;
  background-image: linear-gradient(to bottom, black, #202021);
}

#fechas{
  margin-top: 20px;
  margin-bottom: 20px;  
}

#fechas img{
  width: 600px;
  height: 450px;
  border: 3px solid black;  
}

#nuevo{
  margin-top: 30px;
  margin-bottom: 20px;  
}

#nuevo img{
  width: 600px;
  height: 450px;
  border: 3px solid black;  
}

#seccionProductos{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center; 
}

#seccionProductos img{
  width: 400px;
  height: 400px;  
}

.promo{
  display: grid;
  grid-template-columns: 450px 450px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.promo img{
  width: 400px;
  height: 400px;
  border: 3px solid black;
}

#padre{
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 300px 300px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center; 
}

#sucursal img{
  width: 1347px;
  height: 700px; 
}

#nosotros{
  display: grid;
  grid-template-columns: 1000px;
  grid-row-gap: 30px;
  justify-content: center; 
}

.imagenNosotros img{
  width: 1000px;
  height: 500px;
  margin-bottom: 10px;
  justify-content: center; 
}

#contacto{
  display: grid;
  grid-template-columns: 400px 400px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-around; 
}

#formulario{
  color: white;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background: black; 
}

#formulario div{
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background: #322f2f;  
}

.limpiarForm:hover{
  color: red;
}

#mapa{
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 5px 10px;
  background: black; 
}

@media(max-width: 576px){

  img {
    max-width: 100%; 
  }

  .carousel-item{
    width: 800px;
    height: 400px; 
  }

  #seccionProductos{
    display: grid;
    grid-template-columns: 360px;
    grid-row-gap: 30px; 
  }

  .promo{
    display: grid;
    grid-template-columns: 360px;
    grid-row-gap: 30px; 
  }

  #padre{
    display: grid;
    grid-template-columns: 360px;
    grid-row-gap: 30px; 
  }

  #nosotros{
    display: grid;
    grid-template-columns: 360px;
    grid-row-gap: 30px; 
  }

  #nosotros ​iframe{
    width: 360px;
    height: 200px; 
  }

  #sucursal img{
    width: 400px;
    height: 200px; 
  }

  #imagenNosotros img{
    width: 400px;
    height: 400px; 
  }

  #contacto{
    display: grid;
    grid-template-columns: 350px;
    grid-row-gap: 30px;
    justify-content: space-around; 
  }

  #mapa iframe{
    width: 310px; 
  }

  .consultas textarea{
  width: 280px; 
  }
}

@media (min-width: 768px) and (max-width: 992px){

  .carousel-item{
    width: 800px;
    height: 400px; 
  }

  ​#fechas img{
    width: 760px;
    margin-bottom: 30px; 
  }

  ​#nuevo img{
    width: 760px; 
  }

  ​#seccionProductos{
    display: grid;
    grid-template-columns: 760px;
    grid-row-gap: 30px;
  }

  #seccionProductos​ img{
    width: 700px;
    height: 400px; 
  }

  ​.promo{
    display: grid;
    grid-template-columns: 760px;
    grid-row-gap: 30px; 
  }

  .promo​ img{
    width: 700px;
    height: 400px; 
  }

  ​#contacto{
    display: grid;
    grid-template-columns: 500px;
    grid-row-gap: 30px;
    justify-content: space-around; 
  }

  ​#mapa iframe{
    width: 460px; 
  }

  ​.consultas textarea{
    width: 430px; 
  } 
}
.view {
    width: 400px;
    height: 400px;
    margin: 10px;
    float: left;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #202021;
    cursor: default;
}

.view .mask, .view .content {
    width: 400px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
    display: block;
    position: relative
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}

.view-first img { 
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7); 
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
  transform: scale(1.1);
} 
.view-first:hover .mask { 
  opacity: 1;
}
.view-first:hover h2{
    opacity: 1;
    transform: translateY(0px);
}